@import "../../assets/sassVariables/variables.scss";
.containerAll{
    height: calc(100vh - 80px);
    background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), url("../../assets/images/pawsBackground.jpeg") no-repeat center center fixed;
    background-size: cover;
    color: $orange;
    font-family: "Gloock";
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerBoxes{
    max-height: 580px;
    background-color: $purpleRGBA;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerText{
    width: 400px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    p{
        div{
            display: inline-block;
            min-width: 15px;
            height: 15px;
            border-radius: 100px;
            border: 4px solid $beige;
            margin-right: 5px;
        }
        b{
            display: inline-block;
            color: $beige;
            height: fit-content;
        }
    }
}
.title{
    font-size: 36px;
    color: $beige;
}
.img{
    width: 350px;
    border-radius: 500px;
    height: 350px;
    object-fit: cover;
}