@import "../../assets/sassVariables/variables.scss";
.container{
    margin-top: 80px;
}
.gridContainer{
    width: calc(100vw - 300px);
    padding: 28px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    grid-auto-columns: auto;
    row-gap: 3em;
    column-gap: 2em;
    justify-items: center;
    align-self: center;
}