@import "../../assets/sassVariables/variables.scss";

.container {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url("../../assets/images/pawsBackground.jpeg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gloock";
  letter-spacing: 1px;
  padding: 18px;
}
.form {
  margin-top: 80px;
  background: $beigeRGBA;
  border-radius: 10px;
  height: fit-content;
  padding: 14px;
}
.inputContainer {
  margin: 8px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.inputWrapper {
  width: 220px;
}

.input {
  background: $orangeRGBA;
  color: $purple;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 10px;
  &::placeholder {
    color: $beigeRGBA;
    font-size: 12px;
    letter-spacing: 1px;
  }
}
.label {
  font-size: 20px;
  color: $purple;
  margin: 8px;
}
.validation {
  color: $maroonRGBA;
  b {
    font-size: 12px;
  }
}
.select {
  cursor: pointer;
  width: 60%;
  margin: 10px;
  color: $purple;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: $orange;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.option {
  font-size: 14px;
}
.eliminate {
  cursor: pointer;
  background-color: $maroon;
  color: $orangeRGBA;
  border: none;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  svg {
    fill: $orange;
    margin: 0;
    width: 10px;
    height: 10px;
  }
  &:hover {
    transform: translateY(-5px);
  }
}
.temperamentsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.temperaments {
  width: 50%;
  padding: 10px;
  margin: 4px;
  border-radius: 10px;
  background: $orange;
  color: $purple;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.submitBtn {
  width: 90%;
  padding: 10px;
  color: $beige;
  background-color: $purple;
  border: none;
  border-radius: 10px;
  margin: 10px;
  transition: 0.2s;
  &:disabled {
    background-color: $orangeRGBA;
    color: $beigeRGBA;
  }
  &:hover {
    transform: translateY(-5px);
  }
}

hr {
  height: 0.1px;
  background-color: $beigeRGBA;
  border: none;
}
.manageError{
  // margin: 5px;
  color: $maroon;
  font-weight: bold;
  border: 3px solid $maroon;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  margin: auto;
}
.succesPosted{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.succesPostedP{
  color: $beige;
  background: $orange;
  border-radius: 10px;
  margin: 10px;
  font-weight: bold;
  font-size: 24px;
  padding: 15px 30px;
}
.linkA{
  button{
    font-size: 24px;
    padding: 15px 30px;
    background-color: $maroon;
    color: $beige;
    border: none;
    border-radius: 10px;
    outline: none;
    transition: all .2s;
    &:hover{
      transform: translateY(-5px);
      background-color: $beige;
      color: $maroon;

    }
  }
}