$beige: #f6e1c3;
$orange: #e9a178;
$maroon: #a84448;
$purple: #7a3e65;

$beigeRGBA: rgba(246, 225, 195, 0.7);
$orangeRGBA: rgba(233, 161, 120, 0.7);
$maroonRGBA: rgba(168, 68, 71, 0.7);
$purpleRGBA: rgba(122, 62, 101, 0.8);

@font-face {
  font-family: "Oswald";
  src: url("../../assets/fonts/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Gloock";
  src: url("../../assets/fonts/Gloock-Regular.ttf");
}
